<h1 class="book-title" id="book-<%= @book.id %>">
  <%= @book.title %>
</h1>

<h2>
  <%= @book.author %>
</h2>

<p>
  <%= @book.description %>
</p>

<div id="book-reviews">
    <script type="text/babel" src="/javascripts/book-details.js"></script>
</div>

<p>
  <a href="/">Back to Index</a>
</p>
